<%- include ('partials/header.ejs')%>
<body>
    <%- include ('partials/navbar.ejs')%>
    <main class="container">
        <h1>Hello!✌️</h1>
        <h2>My name is <strong><a href="https://www.linkedin.com/in/roliveira94/?locale=en_US" target="_blank">Rômulo Oliveira</a></strong></h2>
       <h3>I'm a fullstack developer focused on front-end.</h3>

       <img src="/img/romulo.png" alt="Rômulo Oliveira">

         <p>Extremely motivated, constantly developing my skills and professional growth.
                I am confident in my abilities and I want to pursue a career as a developer solving problems through technology.</p>
                <p>

                    I am currently working as a freelance developer, developing web systems.
                </p>
            
            <p><strong>Skills:</strong></p>
            
            <p>
                HTML5 <br>
                CSS3, SASS, Styled Components, Bulma<br>
                JavaScript - ES6 and TypeScript<br>
                Node.JS<br>
            </p>
            
            <p>
                <strong>Frameworks:</strong><br>
                React and React Native<br>
                Vue.JS<br>
                bootstrap<br>
            </p>
            
            <p>
                <strong>Data base:</strong><br>
                MongoDB,<br>
                Firebase<br>
                Mysql<br>
            </p>
        
    </main>
</body>
<%- include ('partials/footer.ejs')%>